/* You can add global styles to this file, and also import other style files */
html {
  margin: 0;
}

body {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

html {
  --color-primary: #007fff;
  --surface-overlay: rgba(33, 33, 33, 0.06);
}

.example-container {
  border: 1px solid #e2e8f0;
  padding: 48px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

h3:not(:first-of-type) {
  padding-top: 36px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

:root {
  &.dark {
    background-color: #0a1929;
    color: #fff;
    --surface-overlay: rgba(255, 255, 255, 0.06);

    --color-primary: #ffd500;

    --text-field-outlined-border-color-inactive: rgba(255, 255, 255, 0.86);
    --text-field-outlined-border-color-hovered: rgba(255, 255, 255, 0.86);
    --text-field-outlined-label-color-inactive: rgba(255, 255, 255, 0.86);
    --text-field-outlined-label-color-disabled: rgba(255, 255, 255, 0.38);
    --text-field-outlined-text-color-inactive: rgba(255, 255, 255, 0.86);
    --text-field-outlined-text-color-focused: rgba(255, 255, 255, 0.86);
    --text-field-outlined-text-color-disabled: rgba(255, 255, 255, 0.38);
    --text-field-outlined-icon-color-inactive: rgba(255, 255, 255, 0.86);
    --text-field-outlined-icon-color-disabled: rgba(255, 255, 255, 0.38);
    --text-field-outlined-placeholder-color-inactive: rgba(255, 255, 255, 0.54);
    --text-field-outlined-placeholder-color-focused: rgba(255, 255, 255, 0.54);
    --text-field-outlined-placeholder-color-disabled: rgba(255, 255, 255, 0.38);

    --text-field-filled-background-hovered: rgba(255, 255, 255, 0.12);
    --text-field-filled-border-color-inactive: rgba(255, 255, 255, 0.86);
    --text-field-filled-icon-color-inactive: rgba(255, 255, 255, 0.86);
    --text-field-filled-icon-color-disabled: rgba(255, 255, 255, 0.38);
    --text-field-filled-placeholder-color-inactive: rgba(255, 255, 255, 0.54);
    --text-field-filled-placeholder-color-focused: rgba(255, 255, 255, 0.54);
    --text-field-filled-placeholder-color-disabled: rgba(255, 255, 255, 0.38);
    --text-field-filled-label-color-inactive: rgba(255, 255, 255, 0.86);
    --text-field-filled-label-color-disabled: rgba(255, 255, 255, 0.38);
    --text-field-filled-text-color-inactive: rgba(255, 255, 255, 0.87);
    --text-field-filled-text-color-focused: rgba(255, 255, 255, 0.87);
    --text-field-filled-text-color-disabled: rgba(255, 255, 255, 0.38);

    --icon-active-color: rgb(255, 255, 255);
    --icon-inactive-color: rgba(255, 255, 255, 0.54);
    --icon-disabled-color: rgba(255, 255, 255, 0.22);
  }
}
