:host {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 3rem;

  --anglify-menu-offset-top: 14px;
  --anglify-menu-offset-right: 14px;
  --anglify-menu-offset-bottom: 14px;
  --anglify-menu-offset-left: 14px;
}
