$tooltip-background-color: var(--tooltip-background-color, #616161) !default;
$tooltip-text-color: var(--tooltip-text-color, #fff) !default;
$tooltip-opacity: var(--tooltip-opacity, 0.9) !default;
$tooltip-border-radius: var(--tooltip-border-radius, 4px) !default;
$tooltip-font-size: var(--tooltip-font-size, 14px) !default;
$tooltip-transition-timing-function: var(--tooltip-transition-timing-function, ease-in-out) !default;
$tooltip-transition-duration: var(--tooltip-transition-duration, 150ms) !default;
$tooltip-padding: var(--tooltip-padding, 5px 16px) !default;
$tooltip-max-width: var(--tooltip-max-width, 150px) !default;
$tooltip-text-alignment: var(--tooltip-text-alignment, center) !default;
