$tooltip-background-color: var(--tooltip-background-color, #616161);
$tooltip-text-color: var(--tooltip-text-color, #fff);
$tooltip-opacity: var(--tooltip-opacity, 0.9);
$tooltip-border-radius: var(--tooltip-border-radius, 4px);
$tooltip-font-size: var(--tooltip-font-size, 14px);
$tooltip-transition-timing-function: var(--tooltip-transition-timing-function, ease-in-out);
$tooltip-transition-duration: var(--tooltip-transition-duration, 150ms);
$tooltip-padding: var(--tooltip-padding, 5px 16px);
$tooltip-max-width: var(--tooltip-max-width, 150px);
$tooltip-text-alignment: var(--tooltip-text-alignment, center);
