@use '../../../../../../../libs/anglify/src/styles/mixins/breakpoints.scss' as *;

:host {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: 1fr;

  @include sm {
    grid-template-columns: 1fr 1fr;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
      width: fit-content;
    }
  }
}
