@import '../../variables';

:host {
  width: 100%;
  max-width: 100%;
  display: grid;
  position: relative;
  overflow: hidden;

  anglify-stepper-header {
    --header-height-internal: $stepper-header-height;
  }

  .step-container {
    display: flex;

    .line-container {
      width: $stepper-header-height;
      flex-basis: $stepper-header-height;
      flex-shrink: 0;
      flex-grow: 0;

      .line {
        width: 100%;
        height: 100%;
        background: linear-gradient(#{$stepper-step-connection-line-color}, #{$stepper-step-connection-line-color}) no-repeat center/1px
          100%;
      }
    }

    .content {
      flex-grow: 1;
      padding: $stepper-step-container-padding;
    }
  }
}

:host-context(.horizontal) {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: row dense;

  anglify-stepper-header::ng-deep {
    .prepend-item .step-connection-line {
      display: none;
    }
  }

  .steps {
    display: grid;
    grid-column: 1 /-1;
    grid-row: 9999;

    .step-container {
      grid-row: 1;
      grid-column: 1;

      .line-container {
        display: none;
      }
    }
  }
}
