:host {
  display: grid;
  grid-template-areas: 'preview' 'controls';
  gap: 0.5rem;

  .preview {
    grid-area: preview;
    border: 1px solid var(--border-color-on-surface-low-emphasis);
    border-radius: 14px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .controls {
    grid-area: controls;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    min-height: 24px;
  }
}
