@use 'fonts' as *;
@use 'table' as *;
@use '../../../libs/anglify/src/styles/index' as *;
@use '../../../libs/anglify/src/styles/themes/light' as *;
@use '../../../libs/anglify/src/styles/themes/dark' as *;
@use '../../../libs/anglify/src/components/simple-table' as *;
@use '../../../libs/anglify/src/styles/settings/typography.scss';
@use '../../../libs/anglify/src/styles/mixins/breakpoints.scss' as *;

:root {
  --anglify-toolbar-regular-height: 56px;
  @include light-theme;

  &.light {
    /* stylelint-disable-next-line no-invalid-position-at-import-rule */
    @import 'material-light';
  }

  &.dark {
    @include dark-theme;
    /* stylelint-disable-next-line no-invalid-position-at-import-rule */
    @import 'material-dark';

    color-scheme: dark;
  }
}

html,
body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-on-background-high-emphasis);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overscroll-behavior: none;
}

h1 {
  @include typography.display-2;

  margin-bottom: 1rem;
  scroll-margin-top: calc(var(--anglify-toolbar-regular-height) + 2rem);
}

h2 {
  @include typography.display-4;

  scroll-margin-top: calc(var(--anglify-toolbar-regular-height) + 2rem);
}

h3 {
  @include typography.display-5;

  scroll-margin-top: calc(var(--anglify-toolbar-regular-height) + 2rem);
}

a {
  color: var(--color-primary);
}

p {
  @include typography.body-1;
}

code {
  padding: 0 0.5rem !important;
  font-family: 'Roboto Mono', monospace;
  hyphens: none;
  tab-size: 4;
  text-align: start;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

:not(pre) > code {
  background-color: var(--color-surface-overlay) !important;
  border-radius: 4px;
}

pre {
  position: relative;
  overflow: auto;
  padding: 0 !important;
  background-color: var(--color-surface-overlay) !important;
  border-radius: 4px;
  white-space: normal;

  code {
    display: block;
    box-sizing: border-box;
    padding: 1rem !important;
    font-size: 13px;
  }
}

.playground {
  display: grid;
  border: 1px solid var(--border-color-on-surface-low-emphasis);
  border-radius: 4px;
  grid-template-areas: 'content' 'data' 'controls';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;

  @include md-and-up {
    grid-template-areas:
      'content controls'
      'data controls';
    grid-template-columns: 2fr 1fr;
  }

  > .content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    grid-area: content;

    anglify-text-field,
    anglify-select,
    anglify-combobox,
    anglify-autocomplete {
      width: 100%;
      max-width: 300px;
    }
  }

  .controls {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-bottom: 1px solid var(--border-color-on-surface-low-emphasis);
    gap: 14px;
    grid-area: controls;

    @include md-and-up {
      border-bottom: none;
      border-left: 1px solid var(--border-color-on-surface-low-emphasis);
    }
  }

  .data {
    border-top: 1px solid var(--border-color-on-surface-low-emphasis);
    grid-area: data;

    --anglify-expansion-panels-content-padding: 0;
  }
}
