@use '../../../libs/anglify/src/styles/index';
@use '../../../libs/anglify/src/styles/themes/light' as *;
@use '../../../libs/anglify/src/styles/themes/dark' as *;
@use '../../../libs/anglify/src/modules/table';
@use '../../../libs/anglify/src/styles/settings//typography.scss';

:root {
  @include light-theme;

  &.light {
    /* stylelint-disable-next-line no-invalid-position-at-import-rule */
    @import '~highlight.js/scss/github';
  }

  &.dark {
    /* stylelint-disable-next-line no-invalid-position-at-import-rule */
    @import '~highlight.js/scss/github-dark';
    @include dark-theme;
  }
}

html,
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--color-background);
  color: var(--color-on-background-high-emphasis);
}

h1 {
  @include typography.display-3;

  margin-bottom: 1rem;
}

h2 {
  @include typography.display-4;
}

h3 {
  @include typography.display-5;
}

a {
  color: var(--color-primary);
}

p {
  @include typography.body-1;
}

code {
  background-color: var(--color-surface-overlay) !important;
  border-radius: 14px;
  white-space: pre;
  padding: 0 0.5rem !important;
}

pre {
  white-space: normal;
  padding: 0 !important;

  code {
    padding: 1rem !important;
  }
}

table {
  code {
    @include typography.body-2;
  }
}

td code {
  background: transparent !important;
}

.playground {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 1px solid var(--border-color-on-surface-low-emphasis);
  border-radius: 14px;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--border-color-on-surface-low-emphasis);
    padding: 24px;

    anglify-form-field {
      max-width: 300px;
    }
  }

  .controls {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 14px;
  }
}
