@use '../../../libs/anglify/src/styles/index';
@use '../../../libs/anglify/src/styles/themes/light';
@use '../../../libs/anglify/src/modules/overlay';
@use '../../../libs/anglify/src/modules/table';
@use '../../../libs/anglify/src/styles/settings/typography.scss';
/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background);
  color: var(--color-on-background-high-emphasis);
}

h1 {
  @extend .display-s;
}

h2 {
  @extend .headline-m;
}

h3 {
  @extend .headline-s;
}

a {
  color: var(--color-primary);
}

p {
  @extend .body-l;
}

:root {
  &.light {
    @import '~highlight.js/scss/github.scss';
  }

  &.dark {
    @import '~highlight.js/scss/github-dark.scss';
    --color-primary: #ffd500;
    --color-on-primary-high-emphasis: rgb(0, 0, 0, 0.87);
    --color-on-primary-medium-emphasis: rgb(0, 0, 0, 0.6);
    --color-on-primary-low-emphasis: rgb(0, 0, 0, 0.38);
    --color-background: #0a1929;
    --color-on-background-high-emphasis: rgb(255, 255, 255, 0.87);
    --color-on-background-medium-emphasis: rgb(255, 255, 255, 0.6);
    --color-on-background-low-emphasis: rgb(255, 255, 255, 0.38);
    --color-surface: rgba(255, 255, 255, 0.06);
    --color-on-surface-high-emphasis: rgb(255, 255, 255, 0.87);
    --color-on-surface-medium-emphasis: rgb(255, 255, 255, 0.6);
    --color-on-surface-low-emphasis: rgb(255, 255, 255, 0.38);
    --color-surface-variant: rgba(255, 255, 255, 0.1);
    --color-on-surface-variant-high-emphasis: rgb(255, 255, 255, 0.87);
    --color-on-surface-variant-medium-emphasis: rgb(255, 255, 255, 0.6);
    --color-on-surface-variant-low-emphasis: rgb(255, 255, 255, 0.38);
    --color-surface-variant-darker: rgba(255, 255, 255, 0.38);
    --color-on-surface-variant-darker-high-emphasis: rgb(0, 0, 0, 0.87);
    --color-on-surface-variant-darker-medium-emphasis: rgb(0, 0, 0, 0.6);
    --color-on-surface-variant-darker-low-emphasis: rgb(0, 0, 0, 0.38);
    --color-outline-primary: rgba(255, 255, 255, 0.54);
    --color-outline-secondary: rgba(255, 255, 255, 0.12);
    --overlay-color-hovered: rgba(255, 255, 255, 0.04);
    --overlay-color-focused: rgba(255, 255, 255, 0.12);
  }
}

pre {
  white-space: normal;
  padding: 0 !important;

  code {
    padding: 1rem !important;
    @extend .body-s;
  }
}

code {
  background-color: var(--color-surface-variant) !important;
  border-radius: 14px;
  white-space: pre;
  padding: 0 0.5rem !important;
  @extend .body-l;
}

table {
  code {
    @extend .body-s;
  }
}

td code {
  background: transparent !important;
}

.playground {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 1px solid var(--color-outline-secondary);
  border-radius: 14px;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--color-outline-secondary);
    padding: 24px;

    anglify-form-field {
      max-width: 300px;
    }
  }

  .controls {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 14px;
  }
}
