@use 'details';
@use 'filled';
@use 'outlined';
@use 'sass:math';
@import 'variables';

.anglify-form-field {
  width: 100%;
  display: grid;
  grid-template-areas:
    'outer-prepend form-field-container  outer-append'
    '. details .';
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  row-gap: 4px;
  overflow-x: hidden;

  .outer-prepend:not(:empty) {
    grid-area: outer-prepend;
    display: flex;
    align-items: center;
    margin-inline-end: 14px;
  }

  .outer-append:not(:empty) {
    grid-area: outer-append;
    display: flex;
    align-items: center;
    margin-inline-start: 14px;
  }

  .form-field-container {
    grid-area: form-field-container;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 'prepend content append';
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    label {
      grid-area: content;
      display: grid;
      align-items: center;

      input,
      textarea {
        grid-column: 1;
        grid-row: 1;
        border-style: none;
        outline: none;
        line-height: $form-field-line-height;
        max-width: 100%;
        min-width: 0;
        background-color: transparent;
        font-size: $form-field-font-size;
        width: 100%;
        box-sizing: border-box;
        resize: vertical;

        &::placeholder {
          color: transparent;
          transition: color $transition-duration $form-field-transition-timing-function;
          user-select: none;
        }
      }

      .label {
        grid-column: 1;
        grid-row: 1;
      }
    }

    .prepend:not(:empty) {
      grid-area: prepend;
      padding-inline-end: 14px;
      cursor: default;
      user-select: none;
    }

    .append:not(:empty) {
      grid-area: append;
      cursor: default;
      user-select: none;

      anglify-icon {
        padding-inline-start: 14px;
      }
    }
  }
}
