$tooltip-background-color: #616161 !default;
$tooltip-text-color: white !default;
$tooltip-opacity: .9 !default;
$tooltip-border-radius: 4px !default;
$tooltip-font-size: 14px !default;
$tooltip-transition-timing-function: ease-in-out !default;
$tooltip-transition-duration: 150ms !default;
$tooltip-padding: 5px 16px !default;
$tooltip-max-width: 150px !default;
$tooltip-text-alignment: center !default;
