:host {
  display: grid;
  gap: 0.5rem;
  grid-template-areas: 'preview' 'controls';

  .preview {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    border: 1px solid var(--border-color-on-surface-low-emphasis);
    border-radius: 14px;
    grid-area: preview;
  }

  .controls {
    display: flex;
    min-height: 24px;
    justify-content: flex-end;
    gap: 1rem;
    grid-area: controls;
  }
}
