@use '../../styles/settings/colors';

$icon-letter-spacing: var(--icon-letter-spacing, normal) !default;
$icon-line-height: var(--icon-line-height, 1) !default;
$icon-text-indent: var(--icon-text-indent, 0) !default;
$icon-vertical-align: var(--icon-vertical-align, middle) !default;

$icon-sizes: (
  icon-size-x-small: var(--icon-size-x-small, 1rem),
  icon-size-small: var(--icon-size-small, 1.25rem),
  icon-size-regular: var(--icon-size-regular, 1.5rem),
  icon-size-large: var(--icon-size-large, 1.75rem),
  icon-size-x-large: var(--icon-size-x-large, 2rem),
) !default;

$icon-active-color: var(--icon-active-color, colors.$color-on-surface-high-emphasis) !default;
$icon-inactive-color: var(--icon-inactive-color, colors.$color-on-surface-medium-emphasis) !default;
$icon-disabled-color: var(--icon-disabled-color, colors.$color-on-surface-low-emphasis) !default;
