$color-primary: var(--color-primary, #007fff) !default;
$color-on-primary-high-emphasis: var(--color-on-primary-high-emphasis, rgb(255, 255, 255, 0.87)) !default;
$color-on-primary-medium-emphasis: var(--color-on-primary-medium-emphasis, rgb(255, 255, 255, 0.6)) !default;
$color-on-primary-low-emphasis: var(--color-on-primary-low-emphasis, rgb(255, 255, 255, 0.38)) !default;
$color-secondary: var(--color-secondary, #534179) !default;
$color-on-secondary-high-emphasis: var(--color-on-secondary-high-emphasis, rgb(255, 255, 255, 0.87)) !default;
$color-on-secondary-medium-emphasis: var(--color-on-secondary-medium-emphasis, rgb(255, 255, 255, 0.6)) !default;
$color-on-secondary-low-emphasis: var(--color-on-secondary-low-emphasis, rgb(255, 255, 255, 0.38)) !default;
$color-error: var(--color-error, #b3261e) !default;
$color-on-error-high-emphasis: var(--color-on-error-high-emphasis, rgb(255, 255, 255, 0.87)) !default;
$color-on-error-medium-emphasis: var(--color-on-error-medium-emphasis, rgb(255, 255, 255, 0.6)) !default;
$color-on-error-low-emphasis: var(--color-on-error-low-emphasis, rgb(255, 255, 255, 0.38)) !default;
$color-background: var(--color-background, #ffffff) !default;
$color-on-background-high-emphasis: var(--color-on-background-high-emphasis, rgb(0, 0, 0, 0.87)) !default;
$color-on-background-medium-emphasis: var(--color-on-background-medium-emphasis, rgb(0, 0, 0, 0.6)) !default;
$color-on-background-low-emphasis: var(--color-on-background-low-emphasis, rgb(0, 0, 0, 0.38)) !default;
$color-surface: var(--color-surface, #fdfbff) !default;
$color-on-surface-high-emphasis: var(--color-on-surface-high-emphasis, rgb(0, 0, 0, 0.87)) !default;
$color-on-surface-medium-emphasis: var(--color-on-surface-medium-emphasis, rgb(0, 0, 0, 0.6)) !default;
$color-on-surface-low-emphasis: var(--color-on-surface-low-emphasis, rgb(0, 0, 0, 0.38)) !default;
$color-surface-variant: var(--color-surface-variant, rgba(33, 33, 33, 0.06)) !default;
$color-on-surface-variant-high-emphasis: var(--color-on-surface-variant-high-emphasis, rgb(0, 0, 0, 0.87)) !default;
$color-on-surface-variant-medium-emphasis: var(--color-on-surface-variant-medium-emphasis, rgb(0, 0, 0, 0.6)) !default;
$color-on-surface-variant-low-emphasis: var(--color-on-surface-variant-low-emphasis, rgb(0, 0, 0, 0.38)) !default;
$color-surface-variant-darker: var(--color-surface-variant-darker, rgba(0, 0, 0, 0.38)) !default;
$color-on-surface-variant-darker-high-emphasis: var(--color-on-surface-variant-darker-high-emphasis, rgb(255, 255, 255, 0.87)) !default;
$color-on-surface-variant-darker-medium-emphasis: var(--color-on-surface-variant-darker-medium-emphasis, rgb(255, 255, 255, 0.6)) !default;
$color-on-surface-variant-darker-low-emphasis: var(--color-on-surface-variant-darker-low-emphasis, rgb(255, 255, 255, 0.38)) !default;
$color-outline-primary: var(--color-outline-primary, rgba(0, 0, 0, 0.54)) !default;
$color-outline-secondary: var(--color-outline-secondary, rgba(0, 0, 0, 0.12)) !default;
$color-inverse-surface: var(--color-inverse-surface, #313033) !default;
$color-inverse-on-surface-high-emphasis: var(--color-inverse-on-surface-high-emphasis, rgb(244, 239, 244, 0.87)) !default;
$color-inverse-on-surface-medium-emphasis: var(--color-inverse-on-surface-medium-emphasis, rgb(244, 239, 244, 0.6)) !default;
$color-inverse-on-surface-low-emphasis: var(--color-inverse-on-surface-low-emphasis, rgb(244, 239, 244, 0.38)) !default;

$color-secondary-container: var(--color-secondary-container, #dae2f9) !default;
$color-on-secondary-container-high-emphasis: var(--color-on-secondary-container-high-emphasis, rgb(0, 0, 0, 0.87)) !default;
$color-on-secondary-container-medium-emphasis: var(--color-on-secondary-container-medium-emphasis, rgb(0, 0, 0, 0.6)) !default;
$color-on-secondary-container-low-emphasis: var(--color-on-secondary-container-low-emphasis, rgb(0, 0, 0, 0.38)) !default;

$color-primary-container: var(--color-primary-container, #004492) !default;
$color-on-primary-container-high-emphasis: var(--color-on-primary-container-high-emphasis, rgb(255, 255, 255, 0.87)) !default;
$color-on-primary-container-medium-emphasis: var(--color-on-primary-container-medium-emphasis, rgb(255, 255, 255, 0.6)) !default;
$color-on-primary-container-low-emphasis: var(--color-on-primary-container-low-emphasis, rgb(255, 255, 255, 0.38)) !default;
