.display-l {
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: 0;
  color: var(--color-on-surface-high-emphasis);
}

.display-m {
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  letter-spacing: 0;
  color: var(--color-on-surface-high-emphasis);
}

.display-s {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0;
  color: var(--color-on-surface-high-emphasis);
}

.headline-l {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0;
  color: var(--color-on-surface-high-emphasis);
}

.headline-m {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0;
  color: var(--color-on-surface-high-emphasis);
}

.headline-s {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  color: var(--color-on-surface-high-emphasis);
}

.title-l {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  color: var(--color-on-surface-high-emphasis);
}

.title-m {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--color-on-surface-high-emphasis);
}

.title-s {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--color-on-surface-high-emphasis);
}

.label-l {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--color-on-surface-high-emphasis);
}

.label-m {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: var(--color-on-surface-high-emphasis);
}

.label-s {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: var(--color-on-surface-high-emphasis);
}

.body-l {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--color-on-surface-high-emphasis);
}

.body-m {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: var(--color-on-surface-high-emphasis);
}

.body-s {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: var(--color-on-surface-high-emphasis);
}
