@import 'variables';

:host {
  .details {
    display: flex;
    gap: 14px;
    line-height: 16px;
    min-height: 16px;
    font-size: 12px;
    margin-top: 4px;
    overflow: hidden;

    .hint {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      line-clamp: 2;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      transition: transform 0.3s $text-field-transition-timing-function;
      transform: translateY(-100%);
    }
  }

  &.persistent-hint {
    .details .hint {
      transform: translateY(0);
    }
  }

  &.focus {
    .details .hint {
      transform: translateY(0);
    }
  }
}
