@use 'variables' as *;

.anglify-text-field {
  .details {
    grid-area: details;
    display: flex;
    gap: 14px;
    line-height: 16px;
    min-height: 16px;
    font-size: 12px;
    overflow: hidden;

    .hint {
      flex: 1;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      transition: transform $transition-duration $text-field-transition-timing-function;
      transform: translateY(-100%);
    }
  }

  &.persistent-hint .details .hint {
    transform: translateY(0);
  }

  &.focused .details .hint {
    transform: translateY(0);
  }
}

:host-context(.text-field-type-outlined) {
  .details {
    padding-left: $text-field-outlined-padding-start;
  }
}

:host-context(.text-field-type-filled) {
  .details {
    padding-left: $text-field-filled-padding-start;
  }
}
