<div class="outer-prepend">
  <ng-container *ngTemplateOutlet="prependOuterIconTemplate"></ng-container>
</div>
<div class="text-field-container">
  <div class="text-field-border">
    <div class="start"></div>
    <div class="notch" *ngIf="label && type === 'outlined'">
      <span>
        <ng-container *ngTemplateOutlet="label.template"></ng-container>
      </span>
    </div>
    <div class="end"></div>
  </div>
  <div class="prepend" #prependItem>
    <ng-container *ngTemplateOutlet="prependIconTemplate"></ng-container>
    <ng-container *ngIf="prefix">{{ prefix }}</ng-container>
  </div>
  <label>
    <span class="label" *ngIf="label" [style.margin-inline-start]="outlinedLabelPrefixMargin$ | async">
      <ng-container *ngTemplateOutlet="label.template"></ng-container>
    </span>
    <ng-content select="[anglifyInput]"></ng-content>
  </label>
  <div class="append">
    <ng-container *ngIf="suffix">{{ suffix }}</ng-container>
    <ng-container *ngTemplateOutlet="appendIconTemplate"></ng-container>
  </div>
</div>
<div class="outer-append">
  <ng-container *ngTemplateOutlet="appendOuterIconTemplate"></ng-container>
</div>
<div class="details">
  <div class="hint">
    <ng-container *ngIf="error$ | async as error; else hintTemplate">{{ error }}</ng-container>
    <ng-template #hintTemplate>
      {{ hint }}
    </ng-template>
  </div>
  <div class="counter" *ngIf="_counter">
    {{ input?.length$ | async }}<span *ngIf="input?.maxLength$ | async as maxLength">/{{ maxLength }}</span>
  </div>
</div>

<ng-template #prependIconTemplate>
  <anglify-icon *ngIf="prependIcon" [icon]="prependIcon"></anglify-icon>
</ng-template>
<ng-template #prependOuterIconTemplate>
  <anglify-icon *ngIf="prependOuterIcon" [icon]="prependOuterIcon"></anglify-icon>
</ng-template>
<ng-template #appendIconTemplate>
  <anglify-icon *ngIf="appendIcon" [icon]="appendIcon"></anglify-icon>
</ng-template>
<ng-template #appendOuterIconTemplate>
  <anglify-icon *ngIf="appendOuterIcon" [icon]="appendOuterIcon"></anglify-icon>
</ng-template>
