:host {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;

  .checkbox-medium {
    --anglify-checkbox-height: 18px;
    --anglify-checkbox-width: 18px;
    --anglify-checkbox-label-font-size: 18px;
  }

  .checkbox-large {
    --anglify-checkbox-height: 24px;
    --anglify-checkbox-width: 24px;
    --anglify-checkbox-label-font-size: 24px;
  }

  .checkbox-x-large {
    --anglify-checkbox-height: 32px !important;
    --anglify-checkbox-width: 32px !important;
    --anglify-checkbox-label-font-size: 32px !important;
  }
}
