@use '../../../../../../libs/anglify/src/styles/mixins/breakpoints' as *;

:host {
  display: grid;
  height: 100vh;
  grid-template-areas:
    'toolbar'
    'main';
  grid-template-rows: auto 1fr;

  @include md {
    grid-auto-columns: auto 1fr;
    grid-template-areas:
      'toolbar toolbar'
      'drawer main';
  }

  anglify-nav-drawer {
    grid-area: drawer;
  }

  anglify-toolbar {
    grid-area: toolbar;
  }

  main {
    padding: 1rem;
    grid-area: main;
    overflow-y: auto;
  }
}
