@use '../../../styles';

:host {
  display: grid;
  grid-template-areas: 'preview' 'controls';
  gap: 1rem;

  .preview {
    grid-area: preview;
    border: 1px solid styles.$color-outline-secondary;
    border-radius: 14px;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .controls {
    grid-area: controls;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    min-height: 24px;
  }

  pre {
    margin: 0;
    white-space: normal;

    code {
      background-color: styles.$color-surface-variant;
      border-radius: 14px;
      white-space: pre;
    }
  }
}
