@use 'variables' as *;

.anglify-overlay {
  position: relative;

  .anglify-overlay__container {
    position: absolute;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    background: transparent;
  }

  .anglify-overlay__selected {
    background: $overlay-color-selected;
    opacity: $overlay-opacity-selected;
  }

  .anglify-overlay__activated {
    background: $overlay-color-activated;
    opacity: $overlay-opacity-activated;
  }

  .anglify-overlay__focus-container {
    background: $overlay-color-focused;
    opacity: 100%;
    transform: scale(0);
    position: absolute;
    border-radius: 50%;
  }

  .anglify-overlay__hovered {
    background: $overlay-color-hovered;
  }

  .anglify-overlay__ripple {
    transition-property: transform, opacity;
    transition-timing-function: linear;
    transition-duration: 1000ms;
    transition-delay: 70ms; // Ripple is slightly delayed, to handle route changes better
  }
}
