:host {
  .items {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    anglify-card {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: 144px;
    }
  }
}
