:host {
  .drawer-container {
    height: 200px;
    width: 600px;
    margin: auto;
    border: 1px solid;
    position: relative;
    overflow: hidden;
    display: flex;
    margin-bottom: 10px;

    &.modal {
      justify-content: right;

      button {
        align-self: center;
        justify-self: center;
        margin-right: 20px;
      }
    }
  }
}
