@use '../../../../libs/anglify/src/styles/settings/typography';

:host {
  display: flex;

  .toolbar {
    display: flex;
    justify-content: flex-end;
  }

  .headline-m {
    margin: 1rem;
    text-align: center;
    @include typography.display-5;
  }

  main {
    margin: 1rem;
    flex-grow: 1;
  }
}
