:host {
  .styling-table {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-spacing: 0;
    white-space: pre-wrap;
    border-radius: 4px;
    border: 1px solid #e2e8f0;

    tr:nth-child(even) {
      background-color: var(--surface-overlay);
    }

    td,
    th {
      padding: 14px;
      text-align: start;
    }
  }
}
