:host {
  width: 100%;

  .playground {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 1px solid #e2e8f0;

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #e2e8f0;

      anglify-text-field {
        max-width: 300px;
      }
    }
    .controls {
      display: flex;
      flex-direction: column;
      padding: 24px;
      gap: 14px;
    }
  }

  .example-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    border: 1px solid #e2e8f0;
    padding: 48px;
  }

  .cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  h3:not(:first-of-type) {
    padding-top: 36px;
  }
}
