:host {
  --icon-letter-spacing: normal;
  --icon-line-height: 1;
  --icon-text-indent: 0;
  --icon-vertical-align: middle;

  --icon-active-color: hsl(0, 0%, 0%, 87%);
  --icon-inactive-color: hsl(0, 0%, 0%, 54%);
  --icon-disabled-color: hsl(0, 0%, 0%, 38%);

  --icon-size-x-small: 1rem;
  --icon-size-small: 1.25rem;
  --icon-size-normal: 1.5rem;
  --icon-size-large: 1.75rem;
  --icon-size-x-large: 2rem;
}
